/*Body*/
/*Retirando a margem padão do navegador e colocando uma fonte padrão*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;/*ocupar 100% do espaço vertical*/
}
/*Header*/
header {
    background-image: linear-gradient(#003366, #006699);
    display: flex;
    justify-content: space-between;

}


/*Footer*/
footer {
    background-color: #003366;
    margin-top: auto;

}


header, footer {
    color: #ffffff;
    padding: 0.5em;
}
footer a{
    color: inherit;
}
div#logo {
    margin: auto 0;
}

div#logo * {
    vertical-align: middle;
    margin-left: 0.5em;
}


div#logo span {
    font-size: 2em;
    font-weight: bold;

}

div#usuarioInfo a.botao {
    border: 1px solid white;
}

div#usuarioInfo {
    text-align: right;
}

div#usuarioInfo span, footer span{
    display: block;
    margin-bottom: 0.5em;
}



/*Main*/
/*Alterando a propriedade da margen interna*/
/*em -> representa a proporção do elemento que ela é aplicada em relação ao tamanho da fonte do elem. pai*/
/*1em = 16px*/
main{
    padding: 1em;
    background-image: linear-gradient(#cccccc, #ffffff);
}

/*Nav*/
nav ul li {
    display: inline-block;
}



/*Comandos*/
div#comandos {
    display: flex;
    justify-content: space-between;
}

/*Links e botões*/
a.botao, input[type="button"],input[type="submit"]{
    background-color: #2c832d;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

a.botao:hover, 
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #1e5e20;
}

input, select, a.botao {
    font-size: 1em;
}

input[type="button"],
input[type="submit"] {
    height: 2em;
}

/* Alterando um link e deixando parecido com um botão*/
a.botao {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.4em;
}

a.botao.excluir {
    background-color: #c42626;
}

a.botao.excluir:hover {
    background-color: #811b1b;
}


/*Formulários*/

form {
    margin: auto;
    width: fit-content;
    text-align: right;
}

form div.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5em;
    margin-bottom: 0.5em;
    align-items: center;
}

/*Alterar a propriedade content para :*/
form label::after {
    content: ":";
}

input, select {
    height: 2em;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box
}

form div.grid input, form div.grid select {
    width: 18em;
}


/*Arrumar o select*/
input:required:invalid, select:required:invalid{
    border: 1px solid red;
}


/*Tabela*/

table {
    width: 100%;
    border-spacing: 0.1em;
    margin: 0.5em auto;
}

table th {
    background-color: #003366;
    color: white;
}

table td, table th {
    padding: 0.5em;

}

table tbody tr:nth-child(odd){
    background-color: #c6d4e2;
}

table tbody tr:nth-child(even){
    background-color: #e7ecf1;
}

table tbody tr:hover {
    background-color: #cccccc;
}

table tfoot td {
    border-top: 1px solid #003636;
    text-align: center;
}

table tbody td:last-child, table tbody td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}